<div class="container">
  <div *ngIf="password" class=" password rounded mb-2 d-flex justify-content-between">
    <h2 class="py-2 col-8" style="padding:5%;">{{password}}</h2>
    <i class="fa-regular fa-copy col-2 icon" (click)="copyPassword()">
    </i>
  </div>
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <ul class="list-group mb-3">
        <li class="list-group-item">
          <i class="fa-solid fa-badge-check"></i>
          include uppercase letters
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-badge-check"></i>
          include lowercase letters
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-badge-check"></i>
          include numbers
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" (click)="checkSymbol()">
          include symbols
        </li>
      </ul>
      <a href="#" class="btn btn-success" (click)="generatePassword()">Generate password</a>
    </div>
  </div>
</div>
