.card {
  margin: auto;
  background-color: #333;
}

.btn {
  margin-left: 33%;
}

.password {
  background-color: #333;
  color: #fff;
  width: 25rem;
  /* height: 65px; */
  /* text-align: center; */
  margin: auto
}

.container {
  margin-top: 20%;
}

.icon {
  text-align: center;
    font-size: 24px;
    padding: 5%;
}

.icon:hover {
  cursor: pointer;
  color: #b6f9a0;;
}
